In [5]:
import os
import time
import copy
import torch
import pandas as pd
import numpy as np
from tqdm import tqdm
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable

In [6]:
data = pd.read_csv("../input/2015_data/trainLabels.csv")

In [11]:
data.head(5)

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [15]:
data[data.image.apply( lambda x:x.split("_")[1])=="left"].reset_index(drop=True)

            image  level
0         10_left      0
1         13_left      0
2         15_left      1
3         16_left      4
4         17_left      0
5         19_left      0
6         20_left      0
7         21_left      0
8         22_left      0
9         23_left      0
10        25_left      0
11        30_left      1
12        31_left      0
13        33_left      0
14        36_left      1
15        40_left      2
16        41_left      0
17        42_left      0
18        46_left      0
19        47_left      0
20        49_left      0
21        51_left      2
22        52_left      0
23        54_left      2
24        56_left      0
25        57_left      0
26        58_left      0
27        59_left      0
28        60_left      0
29        62_left      0
...           ...    ...
17533  44265_left      0
17534  44267_left      0
17535  44268_left      0
17536  44275_left      1
17537  44278_left      0
17538  44280_left      0
17539  44281_left      0
17540  44282_left      0
17541  44284_left      0
17542  44285_left      0
17543  44287_left      0
17544  44298_left      0
17545  44306_left      0
17546  44308_left      0
17547  44309_left      1
17548  44317_left      0
17549  44323_left      1
17550  44325_left      0
17551  44327_left      0
17552  44328_left      0
17553  44330_left      0
17554  44331_left      0
17555  44334_left      0
17556  44337_left      1
17557  44338_left      0
17558  44339_left      0
17559  44343_left      0
17560  44347_left      0
17561  44348_left      0
17562  44349_left      0

[17563 rows x 2 columns]

In [13]:
data.image.split("_")[1]

AttributeError: 'Series' object has no attribute 'split'